

.modalBackdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  
}

.modalContent{ 
  position: absolute;
  transform: (-50%, -50%);
  max-width: 900px;
  min-height: 400px;
  width: 100%;
  padding: 5px;
  background-color: yellow;
  border-radius: 4px;
  box-shadow: 0px 2px 2px -2px rgba(rgb(66, 36, 36), green, blue, alpha);
}